# environment variables
# TODO Please edit this file

# NOTE: small letters only for username
export GBIF_user="username"
export GBIF_pwd="PASSWORD"
# contact person for GBIF staff 
export GBIF_email="EMAIL"
